.en-fab {
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 5;
}

.form-modal {
  background: white;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 1px 1px #0000001f;
  border: #ddd 1px solid;
  min-width: 40%;
  position: absolute;
  bottom: 7em;
  right: 2em;
  z-index: 6;
  padding: 0.4em;
}
