<section class="admin-table table-container">
  <h1>Elife News</h1>

  <table class="table is-small is-narrow">
    <thead>
      <tr>
        <th>Theme</th>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let story of stories">
        <td>{{story.theme}}</td>
        <td>{{story.title}}</td>
        <td>{{story.description}}</td>
        <td><a [href]="story.linkUrl"><span class="icon"><i class="fas fa-link"></i></span></a></td>
        <td><a [href]="story.imgUrl"><span class="icon"><i class="fas fa-image"></i></span></a></td>
        <td>
          <button class="button is-white is-small"
            (click)="editStory(story)">
            <span class="icon"><i class="fas fa-edit"></i></span>
          </button>
        </td>
        <td>
          <button class="button is-white is-small"
            (click)="deleteStory(story)">
            <span class="icon has-text-danger"><i class="fas fa-trash"></i></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="form-modal" *ngIf="showModal">
  <en-story-form [story]="editingStory"
    (submitted)="onSubmit($event)"
    (canceled)="onCancel($event)"></en-story-form>
</div>
<en-new-story-button (created)="getStories()"></en-new-story-button>
