/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh !important;
}

.grid {
  display: grid;
}

.center {
  align-content: center;
  justify-content: center;
  min-height: 100%;
}

