/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh !important;
}

app-root {
  display: grid;
  min-height: 100vh;
}

router-outlet {
  display: none;
}

en-messages {
  display: contents;
  z-index: 1;
}

.grid {
  display: grid;
}

.center {
  align-content: center;
  justify-content: center;
  min-height: 100%;
}

